.title{
    text-align: center;
    color: red;
    margin:0;
}

#area{
    border-collapse: collapse;
    height: 500px;
    width: 500px;
    margin:auto;
}

.stat{
    text-align: center;
}

.buttons{
    text-align: center;
    top: 100px;
    left: 50%;
}

.cell {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 26px;
    border: 1px solid #000;
    cursor: pointer;
}

.cell:hover {
    background-color: #ada9a9;
}

